image: webcuisine/gitlab-ci-react-native-android

before_script:
   - npm install
    - export GRADLE_USER_HOME=$(pwd)/.gradle
    - chmod +x ./android/gradlew
   - yarn

cache:
  untracked: true
  key: "$CI_PROJECT_ID"
  paths:
    - node_modules/
    - .gradle/

buildapk:
  stage: build
    - ./gradlew assembleRelease
  artifacts:
    paths:
       - /pos_android_studio_app/build/outputs/apk/release/pos_android_studio_app-release.apk