image: webcuisine/gitlab-ci-react-native-android

before_script:
   
   - yarn

cache:
  untracked: true
  key: "$CI_PROJECT_ID"
  paths:
    - node_modules/
    - android/.gradle/

buildapk:
  stage: build
  script:
    - cd android
    - chmod +x ./gradlew
    - ./gradlew assembleRelease
  artifacts:
    paths:
      - android/app/build/outputs/apk/release/app.apk
