image: adildev/react-native-android:latest

before_script:
   - yarn

cache:
  untracked: true
  key: "$CI_PROJECT_ID"
  paths:
    - node_modules/
    - android/.gradle/
  stages:
  - build
  - test
  - deploy

  job 1:
     stage: build
  script:
    - cd android
    - chmod +x ./gradlew
    - ./gradlew assembleRelease
  artifacts:
    paths:
      - android/app/build/outputs/apk/debug/app-debug.apk



