# image: node:latest
# image: registry.gitlab.com/motorica-org/gitlab-ci-react-native-android:master
# image: reactnativecommunity/react-native-android:latest
# image: jangrewe/gitlab-ci-android
image: webcuisine/gitlab-ci-react-native-android

before_script:
  # - npm install
   # - export GRADLE_USER_HOME=$(pwd)/.gradle
   # - chmod +x ./android/gradlew
      - yarn
  

cache:
  untracked: true
  key: "$CI_PROJECT_ID"
  paths:
    - node_modules/
    - .gradle/

buildapk:
  stage: build
  script:
    - npm cache clean -f
    - sudo npm install -g n latest
      yarn add react react-dom react-scripts
    - sudo n stable
    - yarn install
    - yarn config set ignore-engines true
    - cd android
       
    # - echo $ANDROID_SDK_HOME
    # - echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}
    # - echo $ANDROID_NDK_HOME
    # - export PATH=$ANDROID_HOME/platform-tools:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin:$PATH
    # - export PATH=$ANDROID_HOME/build-tools/29.0.3:$PATH
    # - export PATH=$PATH:$ANDROID_NDK_HOME**
    # - export GRADLE_USER_HOME=$(pwd)/.gradle
    - chmod +x ./gradlew
    # - export JAVA_HOME="/usr/bin/java"
    - ./gradlew assembleRelease
  artifacts:
    paths:
      - android/app/build/outputs/apk/debug/app-debug.apk
