# image: node:latest
# image: registry.gitlab.com/motorica-org/gitlab-ci-react-native-android:master
image: reactnativecommunity/react-native-android:latest

before_script:
#   - npm install
   - yarn

cache:
  untracked: true
  key: "$CI_PROJECT_ID"
  paths:
    - node_modules/
    - .gradle/

buildapk:
  stage: build
  script:
    # - sudo npm cache clean -f
    # - sudo npm install -g n
    # - sudo n stable
    # - yarn install
    - cd android
    - chmod +x gradlew
    # - export GRADLE_USER_HOME=$(pwd)/.gradle
    # - export JAVA_HOME="/usr/bin/java"
    - ./gradlew assembleRelease
  artifacts:
    paths:
      - /pos_android_studio_app/build/outputs/apk/release/pos_android_studio_app-release.apk

